<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
   <event name="catalog_product_get_final_price">

        <observer name="Perspective_EventPrice_Observer" 
                instance="Perspective\Them18ex2EventPrice\Observer\EventPrice" />

    </event>
</config>